@import url('https://fonts.googleapis.com/css2?family=New+Rocker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap');

:root {
  --Logo: #312826;
  --Header: #3d3d3d;
  --Sub: #271815;
  --Button: #d3c0a5;
  --Border: #9d8563;
  --Icon: #877458;
  --Background: #e9e0d2;
  --White: #fff;
  --H1: 400 75px / normal New Rocker;
  --H2: 400 30px / normal Yeon Sung;
  --H3: 400 23px / normal Yeon Sung;
  --H4: 400 18px / normal Yeon Sung;
  --H5: 400 16px / normal Yeon Sung;
  --H6: 400 12px / normal Yeon Sung;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 100%;
  overflow: hidden;

  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: radial-gradient(54.75% 50% at 50% 50%, #ffffff 0%, #e9e0d2 100%);
}

html,
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  -webkit-tap-highlight-color: transparent;
}

input {
  outline: none;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: auto;
}

img {
  vertical-align: bottom;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-thumb {
  display: none;
}

::-webkit-scrollbar-track {
  display: none;
}
